/* Aqua Splash Gradient Background */
/* body {
    background: linear-gradient(135deg, #186693, #80d0c7);
} */
.con{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: whitesmoke;
}
#name{
    color:linear-gradient(135deg, #186693, #80d0c7) ;
}
.nav-link:hover{
    border-bottom: 3px solid white ;
}
.skill{
    border: 1.6px solid black;
}
.skill:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
    transition: 0.4s;
}
#skill{
    font-size: xx-large;
    /* padding: 7px; */
    margin-left: 10%;
}
#skill:hover{
    border-bottom: 5px solid black;
    border-radius: 3px;    
}
.proname{
    border-bottom: 3px solid black;
}
.proname:hover{
    border-bottom: 3px solid white;

}
.project{
    border: 2px solid black;
}
.project:hover{
    transform: scale(1.02);
    background-color: black;
    color: white;
    transition: 0.4s;
}
#project{
    font-size: xx-large;
    /* padding: 7px; */
    margin-left: 10%;
}
#project:hover{
    border-bottom: 5px solid black;
    border-radius: 3px; 
}
